**Памятка по домашнему заданию**

*   Максимальный балл за правильно выполненное ДЗ - **20** (10 за версию Light, 10 за версию PRO).
*   Имеющиеся в ДЗ ошибки можно исправить. Баллы после исправления не добавляются.
*   Максимальный балл через две недели после получения ДЗ - **10**.

# Домашнее задание 3. Pandas

# Задачи Light

### Задача 1

Используя соответствующую функцию библиотеки pandas, подгрузите датасет из файла 'train.csv' любым из 3 способов, которые вы знаете. 
При загрузке файла укажите параметром, что индексы в нем находятся в 0 столбце. 
Сохраните датафрейм в переменной data_0

Выведите на экран количество строк и столбцов таблицы (.shape)

**В новой ячейке:**

Выведите на экран первые 5 строк датафрейма (метод head).

 **В новой ячейке**

Выведите на экран последние 7 строк датафрейма (метод tail).

*Для решения данной задачи достаточно материалов вебинара*

In [ ]:
# Загрузка модулей и базы данных
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
data_0=pd.read_csv('/content/drive/My Drive/Bases/train.csv',index_col=0)
# Определение формы таблицы
data_0.shape

(1460, 80)

In [ ]:
# Первые 5 строк датафрейма
data_0.head()

    MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                    ...
1           60       RL         65.0  ...        WD        Normal    208500
2           20       RL         80.0  ...        WD        Normal    181500
3           60       RL         68.0  ...        WD        Normal    223500
4           70       RL         60.0  ...        WD       Abnorml    140000
5           60       RL         84.0  ...        WD        Normal    250000

[5 rows x 80 columns]

In [ ]:
# Последние 7 строк датафрейма
data_0.tail(7)

      MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                      ...
1454          20       RL         90.0  ...        WD       Abnorml     84500
1455          20       FV         62.0  ...        WD        Normal    185000
1456          60       RL         62.0  ...        WD        Normal    175000
1457          20       RL         85.0  ...        WD        Normal    210000
1458          70       RL         66.0  ...        WD        Normal    266500
1459          20       RL         68.0  ...        WD        Normal    142125
1460          20       RL         75.0  ...        WD        Normal    147500

[7 rows x 80 columns]

### Задача 2

Для подгруженного из предыдущей задачи датафрейма:
* посчитайте, сколько всего записей,
* определите тип данных в каждом столбце,
* выведите на экран сумму пропусков в каждом столбце.(помните, что массив из значений Bool тоже можно суммировать, тогда False превратится в 0, а True в 1)
* выведите на экран описательные статистики.
* выведите на экран описательные статистики только для объектов (воспользуйтесь include=’O’)

P.S. Используйте соответствующие встроенные методы.

*Для решения данной задачи достаточно материалов вебинара*

In [ ]:
# Общее число записей в таблице
data_0.size

116800

In [ ]:
# Тип данных в столбцах
data_0.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [ ]:
# Число незаполненных данных в столбцах
data_0.isna().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

In [ ]:
# Описательная статистика числовых данных датафрейма
data_0.describe()

        MSSubClass  LotFrontage  ...       YrSold      SalePrice
count  1460.000000  1201.000000  ...  1460.000000    1460.000000
mean     56.897260    70.049958  ...  2007.815753  180921.195890
std      42.300571    24.284752  ...     1.328095   79442.502883
min      20.000000    21.000000  ...  2006.000000   34900.000000
25%      20.000000    59.000000  ...  2007.000000  129975.000000
50%      50.000000    69.000000  ...  2008.000000  163000.000000
75%      70.000000    80.000000  ...  2009.000000  214000.000000
max     190.000000   313.000000  ...  2010.000000  755000.000000

[8 rows x 37 columns]

In [ ]:
# Описательная статистика строковых значений датафрейма
data_0.describe(include=['O'])

       MSZoning Street Alley LotShape  ...  Fence MiscFeature SaleType SaleCondition
count      1460   1460    91     1460  ...    281          54     1460          1460
unique        5      2     2        4  ...      4           4        9             6
top          RL   Pave  Grvl      Reg  ...  MnPrv        Shed       WD        Normal
freq       1151   1454    50      925  ...    157          49     1267          1198

[4 rows x 43 columns]

### Задача 3

Используя соответствующий встроенный метод, "дропните", т.е. удалите из нашей таблички все столбцы, у которых количество пропущенных значений больше 200.

* Найдите все такие столбцы (метод .isna(), суммирование по столбцам, подвыборка с условием)
* Определите их названия
* "Дропните их" (используйте метод .drop(columns=имена столбцов))
* Результат сохраните в новой табличке data_1, исходную менять не нужно

*Для решения данной задачи достаточно материалов вебинара. Но потребуется объединить известные методы.*

Могут быть полезны следующие параметры и методы:

*   columns - названия столбцов датафрейма
*   df[условие] - подвыборка элементов по условию
*   .drop - удаление строк или столбцов (в зависимости от параметра axis)

In [ ]:
# Удаление столбцов, содержащих более 200 пустых значений
data_1=data_0.drop(columns=data_0.columns[data_0.isna().sum()>200])
data_1.shape

(1460, 74)

### Задача 4

В финальном датасете из прошлой задачи (data_1) "дропните" все строки с пропусками в данных, используйте соответствующий встроенный метод (.dropna()). В этой задаче, в отличие от предыдущей, выполните операцию "inplace", т.е. измените исходную таблицу.

*Описание метода .dropna() есть в материалах вебинара.

In [ ]:
# Удаление строк, содержащих пустые значения с изменением исходника
data_1.dropna(inplace=True)
data_1.shape

(1338, 74)

### Задача 5

Опираясь на таблицу data_1, найдите 



*   Самый дешевый дом
*   Самый дорогой дом
*   Средняя площадь гаража (GarageArea)
*   Сколько домов не имеет бассейна (у таких домов площадь бассейна PoolArea равна 0)
*   Средняя стоимость дома с верандой (ScreenPorch)

In [ ]:
# Самый дешевый дом
data_1[data_1.SalePrice==data_1.SalePrice.min()]

     MSSubClass MSZoning  LotArea  ... SaleType SaleCondition SalePrice
Id                                 ...
917          20  C (all)     9000  ...       WD       Abnorml     35311

[1 rows x 74 columns]

In [ ]:
# Самый дорогой дом
data_1[data_1.SalePrice==data_1.SalePrice.max()]

     MSSubClass MSZoning  LotArea  ... SaleType SaleCondition SalePrice
Id                                 ...
692          60       RL    21535  ...       WD        Normal    755000

[1 rows x 74 columns]

In [ ]:
# Средняя площадь гаражей
data_1.GarageArea.mean()

501.44992526158444

In [ ]:
# Количество домов без бассейна
len(data_1[data_1.PoolArea==0])

1331

In [ ]:
# Средняя стоимость дома с верандой
data_1[data_1.ScreenPorch>0].SalePrice.mean()

204477.50862068965

### Задача 6

Данные, с которыми мы работаем в этом домашнем задании, содержат информацию о проданных домах. В датафрейме из прошлой задачи (data_1) найдите все дома, проданные в 2006 году, у которых цена продажи выше 200000 и есть бассейн. Для подвыборки с указанными условиями получите 3 маски и объедините их:

* цена продажи SalePrice
* год продажи YrSold
* площадь бассейна PoolArea 

*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
# Выбор домов по определенным критериям
mask_1=data_1['YrSold']==2006
mask_2=data_1['SalePrice']>200000
mask_3=data_1['PoolArea']>0
data_1[mask_1 & mask_2 & mask_3]

      MSSubClass MSZoning  LotArea  ... SaleType SaleCondition SalePrice
Id                                  ...
198           75       RL    25419  ...       WD       Abnorml    235000
1387          60       RL    16692  ...       WD        Normal    250000
1424          80       RL    19690  ...       WD        Alloca    274970

[3 rows x 74 columns]

### Задача 7

Добавьте к табличке data_1 новый столбец с названием 'Flag'. Присвойте ему значения 0 или 1 в случайном порядке. Для этого
    
* создайте одномерный массив из случайных целых чисел 0 или 1
* размер массива должен соответствовать количеству наблюдений в датафрейме data_1
* создайте новый столбец и присвойте ему значения одномерного массива

*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
import numpy as np

In [ ]:
# Добавление нового столбца в таблицу
new_column=np.random.randint(0,2,1338)
new_column

array([1, 0, 1, ..., 0, 0, 1])

In [ ]:
data_1['Flag']=new_column
data_1.head()

    MSSubClass MSZoning  LotArea Street  ... SaleType SaleCondition SalePrice Flag
Id                                       ...
1           60       RL     8450   Pave  ...       WD        Normal    208500    1
2           20       RL     9600   Pave  ...       WD        Normal    181500    0
3           60       RL    11250   Pave  ...       WD        Normal    223500    1
4           70       RL     9550   Pave  ...       WD       Abnorml    140000    0
5           60       RL    14260   Pave  ...       WD        Normal    250000    1

[5 rows x 75 columns]

### Задача 8

Работайте с таблицей data_0. Получите среднее значение столбца MasVnrArea, обратитесь к этому столбцу и вызовите у него метод .fillna, заполните пропуски столбца его средним значением, которое вы получили.

In [ ]:
# Заполнение пустых ячеек одного столбца таблицы
data_0.MasVnrArea.mean()

103.68526170798899

In [ ]:
data_0.MasVnrArea.fillna(data_0.MasVnrArea.mean(),inplace=True)
data_0.MasVnrArea.count()

1460

# Задачи Pro

### Задача 1: DateTime index

* Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250) в переменную data.
* Преобразуйте колонку InvoiceDate в DateTime index.
* Удалите колонку InvoiceDate.

*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
# Загрузка файла с прописыванием кодировки
data_2=pd.read_csv('/content/drive/My Drive/Bases/data.csv', encoding='cp1250')
data_2.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
# Преобразование столбца таблицы в индекс DateTime
data_2.index=pd.to_datetime(data_2.InvoiceDate)
data_2.drop('InvoiceDate',axis=1,inplace=True)
data_2.head()

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 7 columns]

### Задача 2

Используя датафрейм data, выберите все заказы, совершенные за период 7 декабря 2010 года с часа дня до часа дня и одной минуты.  
*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
# Выборка строк по временному индексу
data_2['2010-12-07 13:00':'2010-12-07 13:01'].head()

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-07 13:01:00    537604     84991  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21845  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21534  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21527  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21528  ...    13488.0  United Kingdom

[5 rows x 7 columns]

### Задача 3

По той же рабочей табличке:
* посчитайте количество уникальных наименований товаров (StockCode), которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод.
* найдите все уникальные страны, в которых были размещены заказы.

*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
# Количество уникальных наименований столба
data_2.StockCode.nunique()

4070

In [ ]:
# Уникальные значения
data_2.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### Задача 4

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого
* сделайте подвыборку, соответствующую условию "в понедельник",
* посчитайте количество уникальных ID клиентов.

*Для решения этой задачи потребуется использовать параметр индекса weekday (по аналогии с рассмотренными на вебинаре примерами .index.month, .index.day)*

In [ ]:
# Количество уникальных покупателей в понедельник
data_2[data_2.index.weekday==0].CustomerID.nunique()

1769

### Задача 5

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
# Выборка данных (resampling)
data_2['TotalCost']=data_2.Quantity*data_2.UnitPrice
data_2.head(2)

                    InvoiceNo StockCode  ...         Country  TotalCost
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...  United Kingdom      15.30
2010-12-01 08:26:00    536365     71053  ...  United Kingdom      20.34

[2 rows x 8 columns]

In [ ]:
data_2.resample('W').TotalCost.sum().head()

InvoiceDate
2010-12-05    181847.25
2010-12-12    270287.03
2010-12-19    207052.17
2010-12-26     89770.57
2011-01-02         0.00
Freq: W-SUN, Name: TotalCost, dtype: float64

### Задача 6

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого
* сделайте resampling в ежедневные данные,
* посчитайте скользящее среднее за 7 дней по столбцу TotalCost.

*Для решения второй части данной задачи потреуется самостоятельно найти способ определения скользящего среднего.*

In [ ]:
# Скользящее среднее за период
data_2.resample('D').TotalCost.sum().rolling(7).mean()

InvoiceDate
2010-12-01             NaN
2010-12-02             NaN
2010-12-03             NaN
2010-12-04             NaN
2010-12-05             NaN
                  ...
2011-12-05    46026.327143
2011-12-06    43456.208571
2011-12-07    45731.242857
2011-12-08    50017.932857
2011-12-09    46453.000000
Freq: D, Name: TotalCost, Length: 374, dtype: float64

### Задача 7: GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам.

*Для решения данной задачи достаточно материалов вебинара. Но потребуется объединить несколько методов.*

In [ ]:
# Группировка данных
data_2.groupby('Country').resample('M').TotalCost.sum()

Country      InvoiceDate
Australia    2010-12-31      1005.10
             2011-01-31      9017.71
             2011-02-28     14627.47
             2011-03-31     17055.29
             2011-04-30       333.40
                              ...
Unspecified  2011-07-31      1425.41
             2011-08-31       531.03
             2011-09-30       286.85
             2011-10-31         0.00
             2011-11-30       965.75
Name: TotalCost, Length: 378, dtype: float64

### Задача 8: JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv).
* Назовите ее cards.
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards.
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc.

*Для решения данной задачи достаточно материалов вебинара.*

In [ ]:
cards=pd.read_csv('/content/drive/My Drive/Bases/card_data.csv')
cards.head()

   CustomerID  TransactionNum
0     17850.0             127
1     17850.0             414
2     17850.0             296
3     17850.0             409
4     17850.0             309

In [ ]:
# Объединение определенного числа строк двух таблиц
pd.merge(data_2[:100],cards[:100],on='CustomerID',how='left')

     InvoiceNo StockCode  ...         Country  TransactionNum
0       536365    85123A  ...  United Kingdom             127
1       536365    85123A  ...  United Kingdom             414
2       536365    85123A  ...  United Kingdom             296
3       536365    85123A  ...  United Kingdom             409
4       536365    85123A  ...  United Kingdom             309
...        ...       ...  ...             ...             ...
2911    536378     84991  ...  United Kingdom             271
2912    536378     84991  ...  United Kingdom             248
2913    536378     84991  ...  United Kingdom             474
2914    536378     84991  ...  United Kingdom             473
2915    536378     84991  ...  United Kingdom              25

[2916 rows x 8 columns]

### Задача 9: DataFrame

Создайте датафрейм (100 строк, 3 колонки) по следующему правилу:


* В первой колонке должны быть случайные целые числа от -15 до 43 не включительно

* Во второй колонке должны быть случайные вещественные числа от -1 до 1

* В третьей колонке должны быть случайные вещественные числа, у которых среднее значение 5, а отклонение 3 (используйте семплирование из нормального распределения)

В этой задаче создать датафрейм нужно с помощью словаря 

```
df = pd.DataFrame({'col1':array_1, 'col2':array_2...}
```


---


В новой ячейке создайте датафрейм успеваемости студентов (4 строки, 3 колонки) по следующему правилу:

* В первой колонке должно быть имя студента
* Во второй колонке должен быть возраст студента
* В третьей колонке должна быть средняя оценка студента

В этой задаче создать датафрейм нужно с помощью массива

In [ ]:
# Создание датафрэйма из случайных чисел
array_1=np.random.randint(-15,43,size=100)
array_2=np.random.uniform(-1,1,size=100)
array_3=5+3*np.random.randn(100)
df=pd.DataFrame({'RandInt':array_1,'RandFloat':array_2,'RandNorm':array_3})
df

    RandInt  RandFloat  RandNorm
0        15   0.393168  5.137014
1        22   0.963795  8.704043
2        29  -0.493001  7.491213
3        37  -0.894702  5.655958
4         7   0.691102  7.417481
..      ...        ...       ...
95       22   0.425110  2.066612
96       -2   0.987443  4.122281
97       19   0.689383  6.937994
98       19  -0.057431  6.008933
99       40  -0.869483  7.276952

[100 rows x 3 columns]

###Задача 10: Pivot

Петя, Маша, Вася и Даша пошли на рынок за фруктами. Кто-то умеет торговаться, кто-то нет. Создайте таблицу с именами, фруктами и ценами (значения подготовлены ниже). 

Самостоятельно изучите метод df.pivot и с помощью него в 1 строку получите новую таблицу, где вдоль строки будут именами друзей, колонки будут названиям фруктов, а на пересечении строк и столбцов будет цена, за которую был куплен фрукт кем-то из друзей. Если человек не покупал какой-то фрукт, то в таблице на пересечении получится NaN.

In [ ]:
# имена ['Петя', 'Вася', 'Маша', 'Даша', 'Маша', 'Вася', 'Маша']
# фрукты ['яблоко', 'груша', 'персик', 'абрикос', 'яблоко', 'персик', 'груша']
# цены [50, 40, 23, 37, 66, 3, 15]

In [ ]:
# использование пивота
df_1=pd.DataFrame(data={'name':['Петя', 'Вася', 'Маша', 'Даша', 'Маша', 'Вася', 'Маша'],
                        'fruit':['яблоко', 'груша', 'персик', 'абрикос', 'яблоко', 'персик', 'груша'],
                        'price':[50, 40, 23, 37, 66, 3, 15]})

In [ ]:
df_1

   name    fruit  price
0  Петя   яблоко     50
1  Вася    груша     40
2  Маша   персик     23
3  Даша  абрикос     37
4  Маша   яблоко     66
5  Вася   персик      3
6  Маша    груша     15

In [ ]:
df_1.pivot('name','fruit','price')

fruit  абрикос  груша  персик  яблоко
name
Вася       NaN   40.0     3.0     NaN
Даша      37.0    NaN     NaN     NaN
Маша       NaN   15.0    23.0    66.0
Петя       NaN    NaN     NaN    50.0